<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>fsk</string>
	<key>CFBundleIdentifier</key>
	<string>com.kinoma.fsk</string>
	<key>CFBundleVersion</key>
	<string>6.1.221</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleName</key>
	<string>Kinoma Simulator</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>KSIM</string>
	<key>CFBundleIconFile</key>
	<string>fsk.icns</string>
	<key>CFBundleShortVersionString</key>
	<string>Kinoma Simulator 6.1.221</string>
	<key>CFBundleGetInfoString</key>
	<string>Kinoma Simulator 6.1.221 Copyright © 2013 Marvell Semiconductor, Inc.</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
</dict>
</plist>
