<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>#APP_NAME#</string>
	<key>CFBundleIdentifier</key>
	<string>#NAMESPACE#</string>
	<key>CFBundleVersion</key>
	<string>#VERSION#</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleName</key>
	<string>#APP_NAME#</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>KSIM</string>
	<key>CFBundleIconFile</key>
	<string>#APP_NAME#.icns</string>
	<key>CFBundleShortVersionString</key>
	<string>#VERSION#</string>
	<key>CFBundleGetInfoString</key>
	<string>Kinoma #APP_NAME# #VERSION# Copyright © 2014 Marvell Semiconductor, Inc.</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>ATSApplicationFontsPath</key>
	<string>../MacOS/fonts</string>
</dict>
</plist>
